.pageHeader{
    text-align: center;
    font-size: 32px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}
.shop {
    width: 35%;
    justify-content: center;
    border: 2px dashed rgb(51, 0, 26);
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    background:rgb(255, 223, 240);
    text-align: center; /* Center align the text in the boxes */
}